html {
  scroll-behavior: smooth;
}
h1{
  color: black;
  font-family: Alice;
  font-size: 40px;
}
.nav{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: bad script;
  font-size: 20px;
  font-weight: bold;
}
.logoPAGE{
  display: flex;
}
.nav img{
  width: 80px;
  height: 80px;
}
.nav-links a{
margin-right: 20px;
text-decoration: none;
color: black;
font-family: Alice;
transition:0.2s;
}
body {
  background: linear-gradient( to bottom, rgb(243, 255, 255),rgb(230,246,280), rgb(207, 237, 255));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}
.header{
  font-family: Alice;
}
.header, .frontHeader, .appNameAndLogo, .aside{
  color: black;
}
.front-img{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.front-img p{
  margin-top: 10px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.767);
  font-size: 100px;
  font-family: 'Marck Script', cursive;
}
.front-img img{
margin: 0%;
width: 95%;
height: 80%;
}
.content {
font-size: 45px;
text-decoration: none;
margin-bottom: 200px;
padding-left: 110px;
padding-right: 110px;
}
.content ul{
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.562);
  padding-right: 80px;
  padding-left: 80px;
}
.content li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.767);
}
.socialmedia-meaning{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialmedia-meaning img{
width: 80%;
}
.ranking, .meaning{
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.562);
  margin-bottom: 55px;
}
.linksME{
  display: flex;
  flex-direction: row;
}
.me{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 100px;
  border-radius: 5px;
  width: 100%;
}
.appNameAndLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-style: italic;
}
.appNameAndLogo img{
  margin-left: 20px;
  width: 40px;
  transition: 0.3s;
}
.linksME img {
  margin-left: 50px;
  width: 80px;
  transition: 0.3s;
}
.appNameAndLogo h2 {
  font-size: 40px;
}
.app-Info {
  width: 50%;
}
.aside {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
.aside img {
  width: 150px;
  transition: width 0.25s;
}
.appNameAndLogo {
  display: flex;
}
.content li:hover{
  font-size: 50px;
}
.aside img:hover {
  width: 190px;
}
.appNameAndLogo img:hover{
  width: 50px;
}
.linksME img:hover{
  width: 100px;
}
.nav-links :hover{
  text-decoration:line-through;
  font-size:22px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .nav {
    flex-direction: column;
    text-align: center;
  }

  .nav img {
    width: 60px;
    height: 60px;
  }

  .nav-links a {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  body {
    margin-bottom: 50px;
    text-align: center;
  }

  .front-img p {
    font-size: 60px;
  }

  .front-img img {
    width: 100%;
    height: auto;
  }

  .content {
    margin-top: 60px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 100px;
    width: 90%;
  }
  .socialmedia-meaning img {
    width: 100%;
  }

  .ranking, .meaning {
    width: 90%;
    align-items: center;
    flex-direction: column;
  }

  .app {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .appNameAndLogo img {
    margin-left: 10px;
    width: 30px;
  }

  .linksME img {
    margin-left: 20px;
    width: 50px;
  }

  .appNameAndLogo h2 {
    font-size: 30px;
  }

  .aside img {
    width: 100px;
  }

  .content li:hover {
    font-size: 40px;
  }

  .aside img:hover {
    width: 130px;
  }

  .appNameAndLogo img:hover {
    width: 40px;
  }

  .linksME img:hover {
    width: 80px;
  }

  .nav-links :hover {
    text-decoration: none;
    font-size: 20px;
  }
}

